/****** Object:  Database [BlogDB]    Script Date: 20.08.2025 21:47:13 ******/
CREATE DATABASE [BlogDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogDB', FILENAME = N'D:\Microsoft\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BlogDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlogDB_log', FILENAME = N'D:\Microsoft\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BlogDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[About_Us]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About_Us](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.About_Us] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Authority] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Author] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CoverURL] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[isHome] [bit] NOT NULL,
	[AuthorId] [int] NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[AdminId] [int] NOT NULL,
	[BlogId] [int] NULL,
	[isApproved] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Adress] [nvarchar](max) NULL,
	[Tel] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Tiktok] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[X] [nvarchar](max) NULL,
	[Linkedin] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ID]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID](
	[IdentityId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Keywords] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[Slogan] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ID] PRIMARY KEY CLUSTERED 
(
	[IdentityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 20.08.2025 21:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[About_Us] ON 

SET IDENTITY_INSERT [dbo].[About_Us] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Email], [Password], [Authority], [Name], [Surname]) VALUES (1, N'aytugotmar@ieeeytu.com', N'aytugotmar111', N'Admin', N'Aytuğ', N'Otmar')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorId], [Name], [Bio], [ImageURL]) VALUES (1, N'Aytuğ Otmar', N'24. Dönem Computer Society Başkan Yardımcısı ve Matematik Mühendisliği öğrencisi.', N'/Uploads/Author/Aytuğ.png')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [Title], [Text], [CoverURL], [CategoryId], [CreatedAt], [UpdatedAt], [isHome], [AuthorId]) VALUES (1, N'<p>Deneme</p>
', N'<p>Deneme</p>
', N'/Uploads/Blog/slider-1.png', 1, CAST(N'2025-08-20T21:17:52.723' AS DateTime), NULL, 1, 1)
INSERT [dbo].[Blog] ([BlogId], [Title], [Text], [CoverURL], [CategoryId], [CreatedAt], [UpdatedAt], [isHome], [AuthorId]) VALUES (2, N'<p>Sa</p>
', N'<p>Sa</p>
', N'/Uploads/Blog/slider-2.png', 1, CAST(N'2025-08-20T21:18:04.813' AS DateTime), NULL, 1, 1)
INSERT [dbo].[Blog] ([BlogId], [Title], [Text], [CoverURL], [CategoryId], [CreatedAt], [UpdatedAt], [isHome], [AuthorId]) VALUES (3, N'<p>As turk</p>
', N'<p>turk</p>
', N'/Uploads/Blog/slider-3.png', 1, CAST(N'2025-08-20T21:18:19.343' AS DateTime), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Description]) VALUES (1, N'Genel', N'Genel duyuru ve bilgilendirmeler.')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Description]) VALUES (2, N'Akademi', N'Bilimsel bilginin üretildiği ve derinlemesine araştırıldığı yükseköğretim ve araştırma kurumlarının dünyası.')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Description]) VALUES (3, N'Biyografi', N'Yaşam hikayeleri aracılığıyla önemli kişilerin deneyimlerini, başarılarını ve etkilerini anlatan bir edebi tür.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [Adress], [Tel], [Instagram], [Facebook], [Tiktok], [Youtube], [X], [Linkedin], [Email]) VALUES (1, N'Yıldız Teknik Üniversitesi Davutpaşa Kampüsü, Elektrik Elektronik Fakültesi B Blok Zemin Kat IEEE Kulüp Odası, 34220 Esenler/İstanbul/Türkiye', NULL, N'https://instagram.com/ieeeytu/', N'https://facebook.com/ieeeytu/', N'https://tiktok.com/@ieeeytu', N'https://youtube.com/user/YTUIEEE', N'https://x.com/ieeeytu', N'https://linkedin.com/company/ytu-ieee-student-branch/', N'yildiztornavidablog@gmail.com')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[ID] ON 

INSERT [dbo].[ID] ([IdentityId], [Title], [Keywords], [Description], [LogoURL], [Slogan]) VALUES (1, N'IEEE YTU', N'Yıldız Tornavida', N'IEEE YTU basın-medya organı olan Yıldız Tornavida dergisinin dijital versiyonu.', N'/Uploads/ID/yildiz-tornavida.png', N'"Sadece Derse Girerek Mühendis Olunmaz!"')
SET IDENTITY_INSERT [dbo].[ID] OFF
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 20.08.2025 21:47:13 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[Blog]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 20.08.2025 21:47:13 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Blog]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminId]    Script Date: 20.08.2025 21:47:13 ******/
CREATE NONCLUSTERED INDEX [IX_AdminId] ON [dbo].[Comment]
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogId]    Script Date: 20.08.2025 21:47:13 ******/
CREATE NONCLUSTERED INDEX [IX_BlogId] ON [dbo].[Comment]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ((0)) FOR [isHome]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [isApproved]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Blog]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Author_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
GO
ALTER TABLE [dbo].[Blog] NOCHECK CONSTRAINT [FK_dbo.Blog_dbo.Author_AuthorId]
GO
ALTER TABLE [dbo].[Blog]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Blog] NOCHECK CONSTRAINT [FK_dbo.Blog_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Admin_AdminId] FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admin] ([AdminId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Admin_AdminId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Blog_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Blog_BlogId]
GO
